
table {
	table-layout: fixed;
	border-collapse: collapse;
}

tbody {
	margin -4px;
	border-width: 4px;
	padding: 0px;
}

tr {
	margin: -4px;
	border-width: 0px;
	padding: 0px;
}

td {
	padding: 5px;
	font-weight: bolder;
	margin: -4px;
	border-color: black;
	border-style: solid;
	width: calc(100%/9);
	height: calc(100%/9);
	text-align: center;
}

.top {
	border-top-width: 3px;
}

.vmiddle {
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.bottom {
	border-bottom-width: 3px;
}

.left {
	border-left-width: 3px;
}

.hmiddle {
	border-left-width: 1px;
	border-right-width: 1px;
}

.right {
	border-right-width: 3px;
}

